<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.devicecheck.app-attest-opt-in</key>
	<array>
		<string>CDhash</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.io.brokenhands.apps.MixtapeApp</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)io.brokenhands.apps.MixtapeApp</string>
	</array>
</dict>
</plist>
